:root {
  --main-color: #ef5e23;
  --animate-duration: 800ms;
}

body {
  min-height: 100vh;
  background-size: 30%;
  font-family: "Changa", sans-serif;
  overflow: hidden;
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='281' height='281' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

/* ======> Global Rules */
.bg-main {
  background-color: var(--main-color);
}

.text-main {
  color: var(--main-color);
}

.form-control:focus,
.form-select:focus {
  border-color: transparent;
  box-shadow: none;
}

.correct,
.correct:hover {
  --main-color: #7cb518 !important;
  background-color: var(--main-color);
  color: #fff !important;
}

.wrong,
.wrond:hover {
  --main-color: #bf0603 !important;
  background-color: var(--main-color);
  color: #fff !important;
}

.score-color {
  color: #434371;
}
.btn-category {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a1c349;
  --bs-btn-border-color: #a1c349;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a1c349;
  --bs-btn-hover-border-color: #a1c349;
}

.btn-questions,
.btn-start {
  --bs-btn-color: #fff;
  --bs-btn-bg: #38369a;
  --bs-btn-border-color: #38369a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4c4aae;
  --bs-btn-hover-border-color: #4c4aae;
}

/* ======> Question Card */
.heading {
  --radius: 10px;
  width: fit-content;
  padding: 6px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  border-radius: var(--radius);
  margin-bottom: 50px;
  text-align: center;
}

.heading h1 {
  font-size: 50px;
  padding: 15px;
  background-image: linear-gradient(30deg, #eee, #fff);
  font-family: "Electrolize", sans-serif;
  border-radius: inherit;
}

.heading::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -5px;
  top: -5px;
  transform: scale(2) translate(-50%, -50%);
  scale: 1.1;
  background-image: conic-gradient(#fc5130, #613dc1);
  animation: spinning 7s infinite linear;
  z-index: -1;
  border-radius: inherit;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate__animated.animate__zoomInDown {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInBottomLeft {
  --animate-duration: 1s;
  --animate-delay: 1s;
}
/* ======> Question Card */
.question {
  background-color: #fff;
  position: relative;
}

.question h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.choices {
  gap: 10px;
}

.choices li {
  --main-color: #434371;
  width: calc((100% - 10px) / 2);
  font-size: 19px;
  font-weight: 600;
  border-radius: 100vh;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 5px 12px;
  transition: background-color 350ms, color 350ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices li:hover {
  background-color: var(--main-color);
  color: #f1f1f1;
}

.question i {
  cursor: pointer;
}
